GEMINI_API_KEY="AIzaSyCxIpNlfozkoEAXKpD2cJw9AN-9XgsKobk"

# Absolute or relative path to your existing chroma_db folder
# Examples:
# CHROMA_DB_PATH=./chroma_db
# CHROMA_DB_PATH=C:/Users/USER/fast_storage/chroma_db
CHROMA_DB_PATH=./chroma_db

